* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 23vw; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;

  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;

    &:hover {
      color: #f1f1f1;
    }
  }
}

/* Style page content */
.main {
  margin-left: 23vw; /* Same as the width of the sidebar */
}

.landingpage {
  background-image: url('../images/bg-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.2);
    z-index: 1;
    position: relative;
  }

  .lpcontent {

    img {
      border-radius: 50%;
      border: 8px solid rgba(0,0,0,0.15);

    }

    h1 {
      color: white;
      font-size: 60px;
      font-weight: bold;
    }

    p {
      color: white;
      font-size: 25px;
      font-weight: bold;
    }
  }
}

.aboutme {
  background-color: whitesmoke;
  height: 85vh;
  width: 100%;
  overflow: hidden;
}













/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}