* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Style page content */
.main {
  margin-left: 23vw; /* Same as the width of the sidebar */
}

@mixin h1-h3-stuff {
  h1 {
    font-size: 2em;
    font-weight: bold;
    padding-left: 0.2em;
    padding-bottom: 1em;
    color: #222;
    letter-spacing: 0.15em;
  }

  h3 {
    font-size: 0.7em;
    letter-spacing: 0.5em;
    color: #222;
  }
}
// SIDENAV SECTION --------------------------------------------------------------------------
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 23vw; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fff;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;

  .content {
    width: 100%;
    height: 100%;
  }

  .navbrand {
    text-align: center;
    padding: 2em 2em 3em 2em;
    height: 20%;
    @include h1-h3-stuff;

    h1 {
      font-size: 2.5em;
      font-weight: bold;
      padding-bottom: 0.5em;
    }

    h3 {
      font-size: 1em;
      font-weight: bold;
      color: #777;
    }
  }

  .navlinks {
    text-align: left;
    padding: 1em 1em 0 0.5em;
    color: #777;
    letter-spacing: 0.3em;
    height: 65%;

    a {
      padding: 1.1em 1.2em 1em 1.2em;
      text-decoration: none;
      font-size: 0.8em;
      line-height: 3em;
      color: #777;
      display: block;
      font-weight: bold;
      text-transform: uppercase;
      border-bottom: 2px solid  #eee;
      
      &:after {
        content: '';
  
      }
  
      &:hover {
        color: #222;
      }
    }
  }

  .navfooter {
    text-align: center;
    height: 15%;
    justify-content: end;
    align-items: center;

    ul {
      padding: 0;
      margin: 0;
      text-decoration: none;
      list-style: none;

      li {
        display: inline-block;
        padding: 1em 0.5em;
        color: #222;

        &:hover {
          cursor: pointer;
        }
      }
    }

    p {
      font-size: 0.8em;
    }
  }


}

// END OF SIDENAV SECTION --------------------------------------------------------------------------





// LANDING PAGE SECTION --------------------------------------------------------------------------

.landingpage {
  background-image: url('../images/bg-img.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.2);
    z-index: 1;
    position: relative;
  }

  .lpcontent {

    img {
      border-radius: 50%;
      border: 8px solid rgba(0,0,0,0.15);

    }

    h1 {
      color: white;
      font-size: 60px;
      font-weight: bold;
    }

    p {
      color: white;
      font-size: 25px;
      font-weight: bold;
    }
  }
}

// The arrow
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 100px; /*change with size of arrow to make sit on bottom */
  color: white;

  &:hover {
    cursor: pointer;
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
// ! The arrow

// END OF LANDING PAGE SECTION ---------------------------------------------------------------





// ABOUT ME SECTION --------------------------------------------------------------------------

.aboutmepage {
  background-color: rgba(0,0,0,0.025);
  height: 85vh;
  width: 100%;
  overflow: hidden;

  .aboutmecontent {
    padding: 2.5em 0.8em;
    line-height: 1.8;


    img {
      padding-left: 0.2em;
    }

    h1 {
        font-size: 2em;
        font-weight: bold;
        padding-left: 0.2em;
        padding-bottom: 1em;
        color: #222;
        letter-spacing: 0.15em;
    }

    h2 {
      font-size: 1.5em;
      font-weight: bold;
      padding: 0.3em 0em 0.5em 0em;
      color: #222;
    }

    h3 {
      font-size: 0.7em;
      letter-spacing: 0.5em;
      color: #222;
    }

    h5 {
      display: inline;
      padding-top: 20px;
      font-size: 1em;
      font-weight: bold;
      color: #222;
    }

    p {
      display: inline;
      font-size: 0.85em;
      padding-bottom: 2em;
    }

    .btn {
      background-color: #222;
      color: #eee;
      border-radius: 0;
    }

    .buttons {
      padding: 1.2em 1.2em 0em 0em;
    }

    .inforow {
      padding-top: 30px;
      padding-bottom: 30px;
    }

  }

}


// END OF ABOUT ME SECTION --------------------------------------------------------------------





// SKILLS SECTION -----------------------------------------------------------------------------

  .skillssection {
    background-color: rgba(0,0,0,0.075);
    height: 45vh;
    width: 100%;
    overflow: hidden;

    .skillscontent {
      padding: 5.5em 0.8em;
      line-height: 1.8;

      @include h1-h3-stuff;



      p {
        font-size: 0.80em;
        padding-bottom: 0.1em;
      }


      .bars {
        p {
          font-size: 1em;
          padding-top: 1em;
          padding-bottom: 0;
        }
      }
    }   

}

// END OFSKILLS SECTION -----------------------------------------------------------------------





// BLOG PAGE SECTION --------------------------------------------------------------------------

.blogpage {
  background-color: rgba(0,0,0,0.025);
  height: 80vh;
  width: 100%;
  overflow: hidden;

  .blogcontent {
    padding: 4.5em 1em 5.5em 1em;
    line-height: 1.8;

    @include h1-h3-stuff;

    h5 {
      font-weight: bold;
      font-size: 1.35em;
      padding: 0.55em 0em 0.75em 0em;
    }

    h6 {
      font-size: 0.75em;
      font-weight: bold;
    }

    p {
      font-size: 0.80em;
      font-weight: 0;
    }
    
  }

    
}


// END OF BLOG PAGE SECTION --------------------------------------------------------------------





// EXPERTISE SECTION --------------------------------------------------------------------------

.expertisepage{
  background-color: rgba(0,0,0,0.075);
  height: 60vh;
  width: 100%;
  overflow: hidden;

  .expertisecontent {
    padding: 5.5em 0.8em;
    line-height: 1.8;

    @include h1-h3-stuff;

    p {
      font-size: 0.75em;
      padding-bottom: 0.1em;
    }
    
    .fa {
      padding-bottom: 0.75em;
    }

    .classWithPad { 
      margin: 15px; 
      padding: 75px; 
      border: 2px solid rgba(0,0,0,0.05);
    }

    h2 {
      font-size: 23px;
    }
  }   

}


// END OF EXPERTISE SECTION --------------------------------------------------------------------





// CONTACT ME SECTION --------------------------------------------------------------------------

.contactmepage {
  background-color: rgba(0,0,0,0.025);
  height: 65vh;
  width: 100%;
  overflow: hidden;

  .contactmecontent {
    padding: 5.5em 1.2em;
    line-height: 1.8;

    @include h1-h3-stuff;

    h2 {
      font-size: 20spx;
      font-weight: bold;
    } 

    p {
      font-size: 0.85em;
      padding-bottom: 0.1em;
    }

    .btn {
      background-color: #222;
      color: #eee;
      border-radius: 0;
      font-size: 15px;
    }

    .buttons {
      padding-top: 10px;
    }
    
    .row {
      padding: 10px;
    }

  }   

}


// END OF CONTACT ME SECTION --------------------------------------------------------------------





// FOOTER SECTION --------------------------------------------------------------------------

#footer {
  background-color: #111;
  height: 15vh;
  width: 100%;
  overflow: hidden;
  color: white;
  font-size: 15px;
  font-weight: bold;

  .col-md-4 {
    top: 50%;
  }
}


// END OF FOOTER SECTION --------------------------------------------------------------------


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}