* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Style page content */
.main {
  margin-left: 23vw;
  /* Same as the width of the sidebar */
}

.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 23vw;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav .content {
  width: 100%;
  height: 100%;
}

.sidenav .navbrand {
  text-align: center;
  padding: 2em 2em 3em 2em;
  height: 20%;
}

.sidenav .navbrand h1 {
  font-size: 2.5em;
  font-weight: bold;
}

.sidenav .navbrand h3 {
  font-size: 1em;
  font-weight: bold;
  color: #777;
}

.sidenav .navlinks {
  text-align: left;
  padding: 0 1em 0 0.5em;
  color: #777;
  letter-spacing: 0.4em;
  height: 65%;
}

.sidenav .navlinks a {
  padding: 1.1em 1.2em 1em 1.2em;
  text-decoration: none;
  font-size: 1em;
  color: #777;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid  #eee;
}

.sidenav .navlinks a:after {
  content: '';
}

.sidenav .navlinks a:hover {
  color: #222;
}

.sidenav .navfooter {
  text-align: center;
  height: 15%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidenav .navfooter ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.sidenav .navfooter ul li {
  display: inline-block;
  padding: 1em 0.5em;
  color: #222;
}

.sidenav .navfooter ul li:hover {
  cursor: pointer;
}

.sidenav .navfooter p {
  font-size: 0.8em;
}

.landingpage {
  background-image: url("../images/bg-img.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

.landingpage:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: relative;
}

.landingpage .lpcontent img {
  border-radius: 50%;
  border: 8px solid rgba(0, 0, 0, 0.15);
}

.landingpage .lpcontent h1 {
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.landingpage .lpcontent p {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 100px;
  /*change with size of arrow to make sit on bottom */
  color: white;
}

.arrow:hover {
  cursor: pointer;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.aboutmepage {
  background-color: #f8f8f8;
  height: 85vh;
  width: 100%;
  overflow: hidden;
}

.aboutmepage .aboutmecontent {
  padding: 3.5em 0.8em;
  line-height: 1.8;
}

.aboutmepage .aboutmecontent img {
  padding-left: 0.2em;
}

.aboutmepage .aboutmecontent h1 {
  font-size: 2em;
  font-weight: bold;
  padding-left: 0.2em;
  padding-bottom: 1em;
  color: #222;
  letter-spacing: 0.15em;
}

.aboutmepage .aboutmecontent h2 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.3em 0em 0.5em 0em;
  color: #222;
}

.aboutmepage .aboutmecontent h3 {
  font-size: 0.7em;
  letter-spacing: 0.5em;
  color: #222;
}

.aboutmepage .aboutmecontent h5 {
  font-size: 1em;
  font-weight: bold;
  color: #222;
}

.aboutmepage .aboutmecontent p {
  font-size: 1em;
  padding-bottom: 1.2em;
}

.aboutmepage .aboutmecontent .btn {
  background-color: #222;
  color: #eee;
  border-radius: 0;
}

.aboutmepage .aboutmecontent .buttons {
  padding: 1.2em 1.2em 0em 0em;
}

.blogpage {
  background-color: whitesmoke;
  height: 85vh;
  width: 100%;
  overflow: hidden;
}

.expertisepage {
  background-color: whitesmoke;
  height: 85vh;
  width: 100%;
  overflow: hidden;
}

.contactmepage {
  background-color: whitesmoke;
  height: 85vh;
  width: 100%;
  overflow: hidden;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */